/* HTML TAGS */
html {
	font-size: 100%;
}

html, body {
    height: 100%;
    /* margin: 0px; */
    /* padding: 0px; */
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* HTML TAGS ADJUSTMENTS */
html {
    padding: 1.2px, 1.2px, 1.2px, 1.2px;
	margin-top: -1px;
	margin-bottom: -1px;
}


/* BODY */
.mw-body {
    direction: ltr;
    color: #252525;
}

.mw-body-content {
    position: relative;
    z-index: 0;
    line-height: 1.6;
    font-size: 0.875em;
}

.misspelled {
	position: absolute;
	z-index: -2;
	border-bottom: 1px solid red;
	margin-bottom: -1px;
}

