﻿#wrap {
	width: 640px;
	background: #FFF;
}
.styleMT {
	margin-right: 5px;
	margin-left: 5px;
}

textarea {
	width:630px;
	padding:2px;
	font: normal 1em 'Trebuchet MS', verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:black;
}

.thumb  {
	border-style: solid;
	border-color: rgb(52,153,200);
	border-width: 2px;
}

.float-left  {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.float-right {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
