<table align="center" style="width:100%; border:2px #a3b1bf solid; background:#f5faff; text-align:left;">
<tr>
<td colspan="3" align="center" style="background:#cee0f2; text-align:center;">
<h2 style="margin:.5em; margin-top:.1em; margin-bottom:.1em; border-bottom:0; font-weight:bold;"><span class="mw-headline" id="Program_manual">Program manual</span></h2>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>General info</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td>
<p>Minority Translate is a tool for small Wikipedias to speed up the article creation process.<br />
It is designed for mass translation of short articles.</p>
</td>
<td>
<p>Program works as follows:</p>
<ol>
<li>select the languages you want to use</li>
<li>download articles for translation</li>
<li>do the translation (article name + content)</li>
<li>upload newly created articles.</li>
</ol>
</td>
<td>
<p>Interwiki links will be added automatically to Wikidata upon saving articles.<br />All the edits will be made under your own Wikipedia account.</p>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Filters</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td>Filters allow to change on how much content you'll see from source article (i.e. you can hide the things you aren't interested in).</td>
<td>
<ul>
<li>templates -- hides all templates</li>
<li>files -- hides all files</li>
<li>introduction only -- all the subsections will be left out</li>
<li>references -- hides references</li>
</ul>
</td>
<td>
<p>Filters are applied only to the languages you are translating from and not to the text that you are creating.<br />
You can change thous filters that you use at all times.</p>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Toolbars</b> &#160; &#160;</center>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">"Preview"</td>
<td style="border-bottom:2px #a3b1bf solid">"Restore"</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">"One-to-one"</td>
</tr>
<tr>
<td>Use the "Preview" button to see how the text will look like in Wikipedia.</td>
<td>
<p>Something went wrong? No worry. Just restore the original state.</p>
</td>
<td>
<p>Program allows to mark down exact translations. This info is extremely valuable for linguistic analyses. Please use this possibility when you happen to write exact translations!</p>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">"Previous" / "Next"</td>
<td style="border-bottom:2px #a3b1bf solid">"Upload"</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">Colored icon</td>
</tr>
<tr>
<td>For fast navigation between the articles you have downloaded for translation.</td>
<td>
<p>Article is marked ready for upload to Wikipedia and it will be uploaded on the first chance. To upload you need to have an Internet connecton and to be logged in.</p>
</td>
<td>
<ul>
<li>red - no internet connection</li>
<li>yellow - you are not logged in</li>
<li>green - program is ready for upload (you have internet connection and you are logged in)</li>
</ul>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">"Pull"</td>
<td style="border-bottom:2px #a3b1bf solid">"Align"</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">"Tag"</td>
</tr>
<tr>
<td>Copypaste function with some built-in capabilities. For example it uses Wikidata to translate article links when copying.</td>
<td>
<p>Compares source and target text. You can also make edits there. Use "Enter" to move paragraphs and "Ok" button below to exit.</p>
</td>
<td>
<p>Add specific marker (i.e.tag) to your article(s), that could be used to link together related sets of articles. Keeleleek statistic database allows tag-based search.</p>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Sidebar</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td colspan="3">
Articles -- list of articles that are downloaded for current session.<br />
Notes -- space to mark down notes. Notes will stay there as long you are running the same session.<br />
Snippets -- memory for copypaste. Recall the text with "Ctrl + no" to the article. Text in snipets will stay there until you delete it.<br />
Lookup -- more dictionaries could be added under 'Preferences'.<br />
Search/replace -- find specific locations from text.<br />
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Sessions</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td colspan="3">You can save the sessions you are working with ("Save Session" or "Save Session As"). Use it when you want to close down the program but plan to continue with the same articles afterwards. As session files store all of the downloaded article information you could use sessions to work offline.</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Preferences</b> &#160; &#160;</center>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">Languages</td>
<td style="border-bottom:2px #a3b1bf solid">Category depth</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">Suggestion Lists</td>
</tr>
<tr>
<td>Mark down which languages you want to use for translation and to which languages you will translate to. Number of languages is not limited, but as every article will need some time for download, therefor we'll recommend to use only the languages you actually need.</td>
<td>"Category depth" specifies how many categories you want to use while downloading articles with category download. Default = 0 (only this category you select for download).</td>
<td>There are some predetermined lists that include articles considered to be more importants on the topic specified. You could use them to build the basic framwork of your wiki or to check if you have those topics covered.</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Texts that you upload will be added to Wikipedia under <a rel="nofollow" class="external text" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 license</a>. For more info on this look at the Wikimedia <a class="external text" href="https://wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a>.</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center>For more info about the program, please contact the authors. &#160; &#160;</center>
</td>
</tr>
</table>
